html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-repeat: no-repeat;
    color: #ffffff;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    border: 1px solid transparent;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title {
    text-align: center;
    color: #fff;
}

.app-title {
    margin-bottom: 100px;
}

.control.has-addons {
    width: 100%;
}

#location-input {
    width: 100%;
}

.location-form {
    width: 75%;
}

.flex-container {
    display: flex;
}

.center-vertical {
    align-items: center;
}

.center-horizontal {
    justify-content: center;
}

.full-height {
    height: 100%;
}

#main-container {
    justify-content: space-around;
}

#text-container {
    flex-direction: column;
    margin-right: 25px;
}

#image-container {
    margin-left: 25px;
}

.ryan-image {
    max-height: 800px;
    min-height: 500px;
    padding: 25px;
}

.outfit-text {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (min-width:1000px) {
    .button-container-mobile {
        display: none;
    }
    .title.is-1 {
        font-size: 4rem;
    }
}

@media screen and (min-width:699px) and (max-width:999px) {
    .ryan-image {
        max-height: 500px;
        min-height: 300px;
    }
    .button-container-mobile {
        display: none;
    }
}

@media screen and (max-width:699px) {
    .data-body {
        height: auto;
    }
    .button-container-desktop {
        display: none;
    }

    #main-container {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    #text-container {
        margin-right: 0;
    }
    #image-container {
        margin-left: 0;
    }
    .ryan-image {
        max-height: 500px;
        min-height: 200px;
    }
    .outfit-text {
        margin-bottom: 50px;
    }
}